*.log

wp/**
!wp/.gitkeep

/.htaccess
/dploy.yaml
/sitemap.xml
/sitemap.xml.gz

.DS_Store

.env
.secret

app/files/**
!app/files/.gitkeep

app/mu-plugins/**
!app/mu-plugins/index.php

app/plugins/**
!app/plugins/index.php

vendor/
